<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleName</key>
<string>device-manager</string>
<key>CFBundleDisplayName</key>
<string/>
<key>CFBundleIdentifier</key>
<string>com.sun.jme.toolkit.device-manager</string>
<key>CFBundleVersion</key>
<string>3.0</string>
<key>CFBundleIconFile</key>
<string>icon.icns</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleExecutable</key>
<string>JavaApplicationStub</string>
<key>LSEnvironment</key>
<dict>
<key>DYLD_LIBRARY_PATH</key>
<string>$APP_PACKAGE/../bin</string>
</dict>
<key>LSUIElement</key>
<string>1</string>
<key>Java</key>
<dict>
<key>JVMVersion</key>
<string>1.6+</string>
<key>MainClass</key>
<string>com.sun.jme.toolkit.bootstrap.Container</string>
<key>ClassPath</key>
<string>$APP_PACKAGE/../toolkit-lib/modules/bootstrap/code/bootstrap.jar:$APP_PACKAGE/../toolkit-lib/modules/bootstrap/code/log4j-1.2.15.jar</string>
<key>Properties</key>
<dict>
<key>log4j.configuration</key>
<string>file:$APP_PACKAGE/../toolkit-lib/process/device-manager/conf/log4j.xml</string>
<key>modules.dir</key>
<string>$APP_PACKAGE/../toolkit-lib</string>
<key>process</key>
<string>process/device-manager</string>
<key>toolkit.home</key>
<string>$APP_PACKAGE/..</string>
<key>emulator.home</key>
<string>$APP_PACKAGE/..</string>
<key>emulator.lib</key>
<string>$APP_PACKAGE/../emulator-lib</string>
<key>system.properties</key>
<string>$APP_PACKAGE/../toolkit-lib/platform.properties,$APP_PACKAGE/../toolkit-lib/modules/bootstrap/conf/system.properties,$APP_PACKAGE/../toolkit-lib/generated.properties</string>
<key>object-server.name</key>
<string>device-manager</string>
<key>init.module</key>
<string>object-server</string>
<key>root.object</key>
<string>ObjectServer</string>
<key>modules</key>
<string>tray,process/device-manager,modules/remoting-connector,modules/adapter-stopper-runner,modules/stdin-shutdown</string>
<key>log.dir</key>
<string>${user.home}/Library/Application Support/javafx-sdk/1.3/log</string>
</dict>
<key>VMOptions</key>
<array>
<string/>
</array>
</dict>
</dict>
</plist>
